html {
  font-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* VARIABLES */
:root {
  /* COLORES */
  --color_verdeBase: #59d9b5;
  --color_verdeOscuro: #01402e;
  --color_verdeClaro: #b3f2e9;
  --color_verdeMuyClaro: #d0f2e9;
  --color_grisFondo: #fafcfe;
  /* MARGENES */
  --margen_paddingGeneral: 30px;
  --margen_paddingBotones: 8px 10px;
  --margen_separacionSections: 80px;
  --margen_CurvaBoton: 20px;
  --margen_desplegables: 100px;
  /* FUENTES */
  --fuente_Base: Arial;
  --fuente_BaseTamanyo: 1rem;
  --fuente_H1: 2rem;
  --fuente_H2: 1.5rem;
  --fuente_H3: 1.3rem;
  --fuenteBotones: var(--fuente_H3);
  --fuente_parrafo: var(--fuente_BaseTamanyo);
}
/* ****************************************************************************************** */

header{
  position: absolute;
  top: 0;
  left: 0;
z-index: 5;
}

input {
  display: none;
}

label {
  position: absolute;
  top: var(--margen_paddingGeneral);
  left: var(--margen_paddingGeneral);
  z-index: 10;
}
ul.desplegable {
  display: none;
  list-style-type: none;
  width: 100vw;
  height: 100vh;
  background-color: var(--color_verdeOscuro);
  padding: calc(var(--margen_paddingGeneral) * 6) var(--margen_paddingGeneral);
  color: var(--color_verdeBase);
}

input:checked ~ .desplegable {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
}

svg {
  width: 32px;
}


/* HEXAGONO */
.hexagono {
  filter: invert(100%);
  margin-right: 3px;
  width: 30px;
}

/* MARKET */
h1 {
  color: white;
  font-weight: bold;
}
/* MAIN */
main {
  background-color: var(--color_verdeBase);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
