html {
  font-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* VARIABLES */
:root {
  /* COLORES */
  --color_verdeBase: #59d9b5;
  --color_verdeOscuro: #01402e;
  --color_verdeClaro: #b3f2e9;
  --color_verdeMuyClaro: #d0f2e9;
  --color_grisFondo: #fafcfe;
  /* MARGENES */
  --margen_paddingGeneral: 30px;
  --margen_paddingBotones: 8px 10px;
  --margen_separacionSections: 80px;
  --margen_CurvaBoton: 20px;
  --margen_desplegables: 100px;
  /* FUENTES */
  --fuente_Base: Arial;
  --fuente_BaseTamanyo: 1rem;
  --fuente_H1: 2rem;
  --fuente_H2: 1.5rem;
  --fuente_H3: 1.3rem;
  --fuenteBotones: var(--fuente_H3);
  --fuente_parrafo: var(--fuente_BaseTamanyo);
}
/* ****************************************************************************************** */

body{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}


input {
  display: none;
}

label {
  position: absolute;
  top: var(--margen_paddingGeneral);
  left: var(--margen_paddingGeneral);
  z-index: 5;
  
}
ul.desplegable {
  display: none;
  list-style-type: none;
  width: 100vw;
  height: 100vh;
  background-color: var(--color_verdeBase);
  padding: calc(var(--margen_paddingGeneral)*6) var(--margen_paddingGeneral);
  
}

.servicios{
  text-decoration: none;
  color: black
}
input:checked ~ .desplegable {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
 

}

svg {
  width: 32px;
}




.iconoImagen{
  width: 100px;
  height: 100vh;
}